<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<header>
			<h1>Trainigsschema 20 april 2022</h1>
		</header>
		<main>
			<table>
				<caption>
					Trainingsschema 20 april 2022
				</caption>
				<col />
				<colgroup span="7"></colgroup>
				<thead>
					<tr>
						<th></th>
						<th scope="col">Maandag</th>
						<th>Dinsdag</th>
						<th>Woendsag</th>
						<th>Donderdag</th>
						<th>Vrijdag</th>
						<th>Zaterdag</th>
						<th>Zondag</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Week 1</th>
						<td data-day="monday">
							<ul>
								<li>lunge</li>
								<li>Split squat</li>
								<li>leg extension</li>
							</ul>
						</td>
						<td data-day="monday">Plyometrisch circuit</td>
						<td>Rust</td>
						<td>training</td>
						<td>oef 3</td>
						<td>Rust</td>
						<td>training</td>
					</tr>
					<tr>
						<th scope="row">Week 2</th>
						<td>training</td>
						<td>rust</td>
						<td>training</td>
						<td>training</td>
						<td>rust</td>
						<td>rust</td>
						<td>training</td>
					</tr>
				</tbody>
			</table>
		</main>
	</body>
</html>
